.git
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
.phpunit.result.cache
.phpunit.cache
tests
docs
