APP_NAME=RBLZCapstone
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_URL=
DATABASE_URL=

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

REGISTRATION_OTP_EXPIRE=10
ADMIN_TWO_FACTOR_EXPIRE=10

RUN_MIGRATIONS=true
VITE_APP_NAME="${APP_NAME}"
